// SPDX-FileCopyrightText: 2023 Sidings Media
// SPDX-License-Identifier: Apache-2.0

nav {
    .nav-arrow {
        display: none;
    }
}

@media (max-width: 47.99em) {
    nav {
        visibility: hidden;
        opacity: 1;
        .nav-arrow {
            display: initial !important;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            opacity: 1;
            visibility: visible;
        }
    }

    .nav-fixed {
        visibility: visible;

        .nav-arrow {
            visibility: hidden;
        }
    }
}

.nav-full {
    background-color: $primary-bg-color !important;

    a {
        color: $primary-fg-color;
        fill: $primary-fg-color;
    }
}

footer {
    background-color: $primary-bg-color;
    height: auto;
    transition: .4s ease-in;
    padding-top: 2em;

    .columns {
        flex-flow: wrap;
        margin: -10px;
        display: flex;
        color: $primary-fg-color;
        text-align: left;
        justify-content: space-evenly;
        padding-bottom: 2em;

        div {
            flex-basis: unset;
            min-width: 200px;
        }
    }

    .footer-links {
        flex: 1 0 180px;
        width: 100%;
        margin: 10px;
        padding: 0;

        li h4 {
            margin: 0;
            font-size: 1.5rem;
            font-family: "Noto Sans","Rubic","Poppins","Helvetica",Arial,sans-serif;
            font-weight: 1000;
        }

        li {
            list-style: none;
            margin: 10px auto;
            font-size: 1.1rem;
        }  
    }

    small {
        color: $primary-fg-color
    }
}

footer.active {
    transform: translate(-100vw, 0);
    opacity: 0.4;
}
