$primary-fg-color: #f2f2f2;
$primary-bg-color: #1c1f36;
$button-bg-color: #657392;
$secondary-bg-color: #38405f;
$accent-color: #a0a7c2;
$alt-text-color: $button-bg-color;

@import "../color-map-dark";
$gallery-modal-close-color: #2F4858;
