$primary-fg-color: #FFFFFF;
$primary-bg-color: #0A0C10;
$button-bg-color: #3D4D63;
$secondary-bg-color: #1C1F24;
$accent-color: #1F8AB4;

$alt-text-color: $button-bg-color;

@import "../color-map-dark";
$gallery-modal-close-color: #2F4858;
